/** @format */

/* .navBar {
	display: flex;
}
.logo1 {
	align-self: flex-start;
}
.nav {
}
.nav-1 {
	background-color: lightgray;
	display: flex;
	justify-content: center;
	height: auto;
}
.navItems {
	font-size: 2rem;
	margin: 20px;
} */
